@charset "UTF-8";

/* 전체 장바구니 페이지 공통 */
#cart_container {
	width: 1196px;
	/* transform: translateX(-50%); */
    /* align-items: end; */
    /* justify-content: flex-end; */
	/* width: 1280px; */
	margin: auto;
	
}
	
/* li 공통  */
li {
	list-style-type: none;
}

/* input check박스 공통 */
input[type=checkbox]{
	width: 23px;
	height: 23px;
}

/* 장바구니 상품부분 박스 */
.prd_box {
	/* position: absolute; */

	background: white;
	/* margin: 0 auto; */
	/* padding: 0; */
	/* display: block; */
	
}

/* 장바구니 헤더 */
.title_cart_header{
	position: relative;
	height: 54px;
	width: 1196px;
	margin-top: 91px;
	border-bottom: 4px solid black;
	/* left: 122px; */
}
/* 장바구니 타이틀 부분 */
#title_cart {
	/* 위치 설정 */
	top: 91px;
	/* 텍스트 스타일 */
	text-align: left;
	font-size: 26px;
	color: #000000;
	font-weight: bold;
}

/* 전체선택, 선택삭제 체크박스 구역 */
.cart_option {
	/* margin: 30px 0px 0px 140px; */
	position: relative;
	top: 30px;
	list-style-type: none;
	font-size: 16px
}
	/* 전체선택 체크박스 */
	.cart_option > li {
		/* border-bottom: solid 1px black; */
		display: inline-flex;
		align-items: center;
	}

	/* 선택삭제 버튼 */
	.btn_del {
		margin-left: 30px;
		background-color: rgba(0, 0, 0, 0);
		text-align: center;
		border: 0 none;
		font-size: 16px;
	}

/* 상품 옵션 카테고리 박스 */
.cart_option_box { 
	position: relative;
	width: 1178px;
	height: 23px;
	top: 60px;
	/* display: block; */
	/* left: 140px; */

}

	.cart_option_ul {
		position: relative;
		list-style-type: none;	
		
		display: inline-flex;
		/* 수직, 수평 정렬 */
		align-items: center; 
		vertical-align: middle;
		text-align: center;

		font-size: 14px;
		/* border-bottom: solid 1px black; */
	}
	#cart_option1 {
		width: 90px;
	}
	#cart_option2 {
		width: 385px;
	}
	#cart_option3, #cart_option4, #cart_option5, #cart_option6 {
		width: 174px;
	}

/* 상품 목록 박스 */
.order_cart_list { 
	position: relative;
	top: 60px;

	width: 1165px;
	height: 100px;

	/* display: inline-flex; */
	/* 수직, 수평 정렬 */
	/* align-items: center;
	vertical-align: middle; */
	margin: 60px 0px;
	/* padding: 10px;
	border: 10px; */

	/* left: 140px; */
}

	/* 상품 info 박스 수평정렬 */
	li[id=cart_basic_case-1] div {
		position: relative;
		display: inline-flex;
		/* 수직, 수평 정렬 */
		align-items: center;
		vertical-align: middle; 
	}


	/* cart info 박스  */
	.cart_info_box {
		width: 1196px;
		height: 54px;
		/* text-align: center; */
	}

	/* 썸네일+상품이름+수량 info 구역 */
	.cart_order_prd {
		width: 650px;
		height: 96px;
	}


	/* 품목 체크박스 */
	#cart_select{
		/* position: relative; */
		width: 23px;
		height: 23px;
		margin: 0 auto;
		
	}

	.cart_order_prd > a {
		position: relative;
		margin-left: 30px;
		width: 420px;
	}

	/* 썸네일이미지박스 */
	.cart_thumb_box {
		position: relative;
		width: 103px;
		height: 96px;
		/* left: 30px; */
		border: solid 1px;
	}
	.prd_name {
		position: relative;
		width: 300px;
		height: 46px;
		left: 10px;
	}

	/* 수량변경 구역 */
	.prd_util {
		/* position: relative; */
		width: 174px;
		height: 46px;
		text-align-last: center;
		align-content: center;
		text-align: center;
		/* left: 10px;	 */
	}
	.prd_util_wrap {
		margin: 0px 25px;
	}

	/* 수량박스 */
	input[type='number']::-webkit-inner-spin-button {
		-webkit-appearance: none;
		/* width: 10px; */
		height: 46px;
		/* border-radius: 6px; */
	}
	/* 수량변경 버튼 */
	.prd_util div > button {
		width: 26px;
		margin-left: 5px;
		border: none;
	}
	.price_area {
		/* display: flex; */
		/* text-align: end;
		align-items: right; */
		/* align-content: flex-end; */
		text-align: right;
		/* direction: rtl; */
	}
	/* 상품 단품 금액 */
	.cart_order_price {
		/* position: inherit; */
		width: 154px;
		height: 46px;
		margin: 0PX 20px 0px 10px;
		/* font-weight: bold; */
		justify-content: space-around;
	}
	/* 배송비 */
	.cart_order_delivery {
		/* position: inherit; */
		/* left: 47px; */
		width: 154px;
		height: 46px;
		margin-right: 20px;
		color: gray;
		justify-content: space-around;
		
	}
	/* 상품 total 금액 */
	.cart_order_total_price {
		/* position: inherit; */
		/* left: 38px; */
		width: 154px;
		height: 46px;
		margin-right: 30px;
		justify-content: space-around;	font-weight: bold;
	}

/* 예상결제정보 구역 */
.pay_box {
	position: relative;
	top: 60px;
	height: 191px;
}


	/* 예상결제정보 헤더 */
	.exptpay_heade{
		height: 54px;
		width: 1196px;
		/* 위치 설정 */
		top: 91px;
		/* 텍스트 스타일 */
		text-align: left;
		/* margin-top: 91px; */
		border-bottom: 4px solid black;
		/* left: 122px;  */
	}

	/* 예상결제정보  타이틀 부분 */
	#title_exptpay {

		font-size: 26px;
		color: #000000;
		font-weight: bold;
	}

	/* 예상결제정보 구역  */
	.pay_box {
		width: 1196px;
		height: 200px;
	}