@charset "UTF-8";

li {
	list-style-type: none;
}

.inven_body{
	position:relative;
	width:1280px;
	margin:0 auto;
/
}

/* left Menu */

/*leftMenu*/
.lnbNav {
	width:130px;
	height: 488px;
	float:left;
	left: 50px;
	top: 50px;
	padding: 30px;
	text-align: right;
	background: #F8F7F7;
	border-radius: 6px;}
.lnbNav .lnb .lnb_title {font-size:20px; color:#1d1d1d;}
.lnbNav .lnb .lnb_dep1 > li > a {display:block; position:relative; padding:16px; font-size:16px}
.lnbNav .lnb .lnb_dep1 > li:hover,
.lnbNav .lnb .lnb_dep1 > li > a:hover,
.lnbNav .lnb .lnb_dep1 > li > a:focus,
.lnbNav .lnb .lnb_dep1 > li.active > a {background:#007bc3; border-color:#007bc3; color:#fff}




/* contents */
#content {
	position: relative;
	width: 1000px;
    float: right;
	height: 100%;
	background: white;
	margin: 0 auto;
	padding: 0;
	display: block;
}
.title_inven_header{
	position: relative;
	height: 54px;
	overflow: visible;
	min-width: 1000px;
	display: inline-block;
	margin-top: 91px;
	border-bottom: 4px solid black;
	
}
#title_inven {
	/* 위치 설정 */
	top: 91px;
	/* 텍스트 스타일 */
	text-align: left;
	font-size: 26px;
	color: #000000;
	font-weight: bold;
}



.content_wrap{
	margin: 20px 20px 20px 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 25px 25px 25px;
	row-gap: 20px;
	column-gap: 10px;
	
}

.inven_search_result{
	margin: 80px 20px 20px 20px;
	position: relative;
	width: 960px;
	text-align: center;
	border: 1px;
}

.inven_search_result .row1{
	height: 40px;
	font-weight: bold;
	background-color: #F8F7F7;
}


.btn_basic{
	position:relative;
	width: 80px;
	height: 25px;
	background-color: #333333;
	color: white;
	border: #333333;
	border-radius: 8%;
	font-size: 12px;
	text-align: center;
}

