@charset "UTF-8";

.title_inven_header{
	position: relative;
	height: 54px;
	overflow: visible;
	min-width: 1196px;
	display: inline-block;
	margin-top: 91px;
	border-bottom: 4px solid black;
	left: 122px;
	
}
#title_inven {
	/* 위치 설정 */
	top: 91px;
	/* 텍스트 스타일 */
	text-align: left;
	font-size: 26px;
	color: #000000;
	font-weight: bold;
}

.inven_menu {
	position: relative;
    display: inline-block;
    width: 1280px;
    height: 60px;
	margin: 0 10px;

	list-style-type: none;
	font-size: 16px;
	text-align:center;
	justify-content: space-between;
	font-weight: bold;
}


.btn_basic{
	position:relative;
	width: 80px;
	height: 33px;
	background-color: #333333;
	color: white;
	border: none;
	border-radius: 2%;
}

.inven_search{
	position:absolute;

}