.main-banner {
    position: relative;
    width: 1280px;
    height: 560px;
    margin: 0 auto;
    background: #D9D9D9;
}

.product-list {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.product {
    display: inline-block;
    width: 180px;
    margin: 25px;
    text-align: left;
}

.product>a>img {
    width: 180px;
    height: 180px;
}