
/* 공통부분 */

/* *{
    margin: 0;
    padding: 0;
}


a{
    color: inherit;
    text-decoration: none;
}

.content-wrap{
    text-align: center;
}
.content-wrap > div{
    margin-top: 50px;
} */


/* 네비게이션 바 */
.nav-wrap{
    width: 240px;
    height: 350px;
    background-color: #F8F7F7;
    display: inline-block;
    border-radius: 6px;
    vertical-align: top;
}

.nav-wrap > div {
    text-align: right;
    margin: 20px;
}
